{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Audiowide|Ubuntu&effect=3d-float' rel='stylesheet' type='text/css'>
        <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!--  scroll magic  
        <link href="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" rel="stylesheet" type='text/css'>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js" rel="stylesheet" type='text/css'>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js" rel="stylesheet" type='text/css'>
        //-->

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <title>physhik</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <div class="page-header">
 
    
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d1d1d1;">
            <div class="container-fluid">
                <h1 class='font-effect-3d-float' style='font-family: Audiowide;'>
                    <a class="navbar-brand" href="/">physhik
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="32.000000pt" height="32.000000pt" viewBox="0 0 32.000000 32.000000"
                        preserveAspectRatio="xMidYMid meet">
                       
                       <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                       fill="#000000" stroke="none">
                       <path d="M130 290 c-11 -21 -6 -40 11 -40 5 0 9 7 9 15 0 8 5 15 10 15 6 0 13
                       -7 16 -15 8 -21 24 -19 24 3 0 41 -51 57 -70 22z"/>
                       <path d="M37 243 c-12 -11 -7 -50 7 -62 19 -16 32 5 16 24 -14 16 -10 18 38
                       15 33 -2 44 13 16 24 -21 8 -69 8 -77 -1z"/>
                       <path d="M181 230 c-31 -15 -41 -24 -34 -31 8 -8 20 -6 41 5 17 9 43 16 57 16
                       22 0 24 -3 15 -19 -14 -27 3 -35 25 -12 46 52 -23 78 -104 41z"/>
                       <path d="M92 193 c1 -5 -12 -23 -30 -40 -56 -56 -35 -93 44 -78 45 8 33 29
                       -12 22 -37 -6 -46 10 -19 33 8 7 15 19 15 26 0 10 7 13 25 8 28 -7 32 1 11 22
                       -15 15 -38 19 -34 7z"/>
                       <path d="M190 183 c0 -5 16 -19 35 -33 37 -27 53 -52 36 -58 -21 -7 -11 -23
                       11 -20 35 5 33 33 -8 77 -32 36 -75 55 -74 34z"/>
                       <path d="M110 132 c0 -8 52 -42 64 -42 13 0 5 23 -11 36 -20 15 -53 19 -53 6z"/>
                       <path d="M196 102 c-3 -2 -2 -10 1 -18 8 -20 33 -17 33 4 0 17 -23 26 -34 14z"/>
                       <path d="M126 62 c-9 -14 3 -41 24 -52 13 -7 22 -4 35 10 20 23 11 48 -11 29
                       -12 -10 -17 -8 -28 6 -8 11 -15 14 -20 7z"/>
                       </g>
                       </svg>
                    </a></h1>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Drop Down
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/tracker">NBA 2022 MVP prediction using A.I.</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/cluster_mlb">Categorize Pitchers using Unsupervised Learning</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ecg">Machine learns from Cardiologist</a></li>     
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="https://mrapm.physhik.com">NBA TEAM STATS</a></li>     
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
  
                <!-- search
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                //-->
              </div>
            </div>
          </nav>


        </div>
        <div class="content container">
            <div class="row">
                {% block content %}
                    {% for post in posts %}
                        <div class="post">
                            <p>published: {{ post.published_date }}</p>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>        
                    {% endfor %}
                {% endblock %}
            </div>
        </div>




        <footer>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d1d1d1;">
                <div class="container-fluid">
                        <a class="navbar-brand" href="/">physhik © 2021-2025
                        </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Drop Down
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/tracker">NBA 2022 MVP prediction using A.I.</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/cluster_mlb">Categorize Pitchers using Unsupervised Learning</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/ecg">Machine learns from Cardiologist</a></li>     
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="https://mrapm.physhik.com">NBA TEAM STATS</a></li>               
                        </ul>
                      </li>
                    </ul>
                    <!-- search
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    //-->
                  </div>
                  {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" title="{{ user.username }} logout" class="top-menu"><i class="fas fa-sign-out-alt"></i></a>
                  <a href="{% url 'post_draft_list' %}" title="Drafts" class="top-menu"><i class="fas fa-edit"></i></a>
                  <a href="{% url 'post_new' %}" title="New Post" class="top-menu"><i class="fas fa-plus"></i></a>
              {% else %}
                  <a href="{% url 'login' %}" title="Log in" class="top-menu"><span class="fas fa-sign-in-alt"></span></a>  
              {% endif %}
                  <a href="{% url 'post_list' %}" title="Posts" class="top-menu"><span class="fas fa-list"></span></a>
  
                </div>
              </nav>
    
               
              <!--Powered by Django deployed to Google App Engine-->
    
        </footer>

    </body>


</html>

