{% extends 'blog/base.html' %}


{%block content%}


<div class="alert alert-info" role="alert">
    In progess.   
</div>
  


<h1 style="margin-top: 10px;">ECG</h1>


<p style="text-align: justify;"> Recently, there has been an increasing interest in wearing devices, 
and convolutional neural network (CNN) supervision learning is a powerful tool to analyze body signals and predict heart disease in our body. After briefly reading a few research papers, 
the regular patterns of one-dimensional signals and heartbeats remind me of the musical signals 
we studied them in that we understand signal processing and neural networks, and this study have a lot of potential to bring healthier lives to humanity. 
We would like to give you an introduction and then present a little more technical content such as how we can use it.
</p>

<h3 style="margin-top: 10px;">Heartbeat as a 1-D signal</h3>








{%endblock%}