
{% load static humanize i18n %}
{% load render_bundle from webpack_loader %}

  <!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      physhik
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="blog" />
  <meta name="author"
        content="Namshik Kim" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
<!-- Your stuff: Third-party CSS libraries go here -->
<!-- This file stores project-specific CSS -->
<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet" type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Audiowide|Ubuntu&effect=3d-float' rel='stylesheet' type='text/css'>
{% render_bundle 'project' 'css' %}


{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}


<!-- Vendor dependencies bundled as one file -->
{% render_bundle 'vendors' 'js' attrs='defer' %}


<!-- place project specific Javascript in this file -->


{% render_bundle 'project' 'js' attrs='defer' %}


{% endblock javascript %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
  {% block body %}
  <div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link font-effect-3d-float" style='font-family: Audiowide;' href="{% url 'home' %}">physhik <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="24.000000pt" height="24.000000pt" viewBox="0 0 24.000000 24.000000"
                preserveAspectRatio="xMidYMid meet">
               
               <g transform="translate(0.000000,24.000000) scale(0.080000,-0.080000)"
               fill="#000000" stroke="none">
               <path d="M130 290 c-11 -21 -6 -40 11 -40 5 0 9 7 9 15 0 8 5 15 10 15 6 0 13
               -7 16 -15 8 -21 24 -19 24 3 0 41 -51 57 -70 22z"/>
               <path d="M37 243 c-12 -11 -7 -50 7 -62 19 -16 32 5 16 24 -14 16 -10 18 38
               15 33 -2 44 13 16 24 -21 8 -69 8 -77 -1z"/>
               <path d="M181 230 c-31 -15 -41 -24 -34 -31 8 -8 20 -6 41 5 17 9 43 16 57 16
               22 0 24 -3 15 -19 -14 -27 3 -35 25 -12 46 52 -23 78 -104 41z"/>
               <path d="M92 193 c1 -5 -12 -23 -30 -40 -56 -56 -35 -93 44 -78 45 8 33 29
               -12 22 -37 -6 -46 10 -19 33 8 7 15 19 15 26 0 10 7 13 25 8 28 -7 32 1 11 22
               -15 15 -38 19 -34 7z"/>
               <path d="M190 183 c0 -5 16 -19 35 -33 37 -27 53 -52 36 -58 -21 -7 -11 -23
               11 -20 35 5 33 33 -8 77 -32 36 -75 55 -74 34z"/>
               <path d="M110 132 c0 -8 52 -42 64 -42 13 0 5 23 -11 36 -20 15 -53 19 -53 6z"/>
               <path d="M196 102 c-3 -2 -2 -10 1 -18 8 -20 33 -17 33 4 0 17 -23 26 -34 14z"/>
               <path d="M126 62 c-9 -14 3 -41 24 -52 13 -7 22 -4 35 10 20 23 11 48 -11 29
               -12 -10 -17 -8 -28 6 -8 11 -15 14 -20 7z"/>
               </g>
               </svg> <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Columns
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/tracker">NBA 2022 MVP prediction using A.I.</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/cluster_mlb">Categorize Pitchers using Unsupervised Learning</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ecg">Machine learns from Cardiologist</a></li>     
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="https://mrapm.physhik.com">NBA TEAM STATS</a></li>     
                    </ul>
                  </li>
                </ul>

                          
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'drafts' %}">Drafts</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'project' %}">Projects</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
              </li>
            {% else %}
              {% if ACCOUNT_ALLOW_REGISTRATION %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                </li>
              {% endif %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    {% block main %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    {% endblock main %}

  </div>
  {% endblock body %}
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}


  
  {% include 'partials/_footer.html' %}
  {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
    <script src="{% static 'js/project.js' %}"></script>
  {% endblock inline_javascript %}
</body>
</html>
